[submodule ".config/mpv/script_modules/mpvSockets"]
	path = .config/mpv/script_modules/mpvSockets
	url = https://github.com/wis/mpvSockets.git
[submodule ".emacs.d/"]
	path = .emacs.d/
	url = https://github.com/doomemacs/doomemacs.git
